.single_wrapper {
    margin: 0 auto;
    margin-top: 36px;
    max-width: 558px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    text-align: center; 
    margin-bottom: 52px;
}

.single_wrapper .img_title {
    max-width: 100%; 
    height: auto; 
}

.avatar {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    position: relative;
}

.text_ava h5 {
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease; 
}

.text_ava small {
    color: #777;
    font-size: 12px;
    transition: color 0.3s ease; 
}

.single_wrapper p {
    text-align: start;
    letter-spacing: 2px;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
    transition: color 0.3s ease;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    transition: color 0.3s ease;
    position: relative;
}

.avatar img {
    border-radius: 50%;
    transition: transform 0.3s ease; 
}

.avatar:hover img {
    transform: scale(1.1);
}

.avatar:hover .text_ava h5 {
    color: #EE5626; 
}

.avatar:hover .text_ava small {
    color: #35109F;
}

.single_wrapper p:hover {
    color: #35109F; 
}

h1:hover {
    color: #EE5626;
}

h1::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 80%;
    height: 3px;
    background: linear-gradient(90deg, #EE5626, #35109F);
    transition: width 0.3s ease;
}

h1:hover::after {
    width: 100%;
}

.avatar::before {
    content: 'Author';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    font-size: 12px;
    color: #777;
    transition: all 0.3s ease;
}

.avatar:hover::before {
    color: #35109F;
    font-size: 14px;
    top: -25px;
}

button {
    border: 2px solid black;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    background: linear-gradient(180deg, #e77f60 50.52%, #7952e6 89.58%);
    transition: all 0.3s ease; 
    position: relative;
    overflow: hidden;
    float: right;
}


button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

button:hover::before {
    opacity: 1;
}

button:hover {
    background: linear-gradient(180deg, #7952e6 50.52%, #e77f60 89.58%);
    border-color: #35109F;
    transform: scale(1.05);
    cursor: pointer; 
}
